<footer>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <a href="#">Home</a>
        <a href="#">Team</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Copyrights and stuff.  Don't steal it.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="logo-icon"></span>
      </div>
    </div>
  </div>
</footer>
