<head>
  <title>
    {% if page.title %}
      {% if page.title contains "^" %}
        {{ page.title | replace:'^','' }}
      {% else %}
        Viopop &mdash; {{ page.title }}
      {% endif %}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  {% if page.meta_description %}
    <meta name="description" content="{{page.meta_description}}">
  {% endif %}
  {% if page.meta_keywords %}
    <meta name="keywords" content="{{page.meta_keywords}}">
  {% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="/favicons/favicon16.png" type="image/png" sizes="16x16">
  <link rel="shortcut icon" href="/favicons/favicon32.png" type="image/png" sizes="32x32">
  <link rel="shortcut icon" href="/favicons/favicon48.png" type="image/png" sizes="48x48">
  <link rel="shortcut icon" href="/favicons/favicon64.png" type="image/png" sizes="64x64">
  <link rel="shortcut icon" href="/favicons/favicon128.png" type="image/png" sizes="128x128">
  <link rel="shortcut icon" href="/favicons/favicon256.png" type="image/png" sizes="256x256">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  {{ 'application' | stylesheet }}
  {{ 'application' | javascript }}
</head>
